<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFuAvL9jFSg_kn7Jdl5WUZ4yIC2hANHyw</string>
	<key>GCM_SENDER_ID</key>
	<string>1011662335499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.kviktime.app</string>
	<key>PROJECT_ID</key>
	<string>kviktime-9ee5f</string>
	<key>STORAGE_BUCKET</key>
	<string>kviktime-9ee5f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011662335499:ios:289d28b60cc97e1907610e</string>
</dict>
</plist>